:root {
    --theme: var(--blue-9);
    --radius: var(--radius-3);
}

html, body {
    height: 100%;
    width: 100%;
}

.lucide {
    height: 1em;
    width: 1em;
}

#rain-guess {
    color: var(--text-2);
    
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    & input {
        display: none;
    }

    & > label {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        flex-grow: 1;

        padding: var(--size-2);
        gap: var(--size-2);

        border-radius: var(--radius-3);
        
        &:has(input:checked) {
            background: var(--theme);
            color: var(--surface-1);
        }

        & > .lucide {
            font-size: var(--size-4);
        }

        & > span {
            font-size: var(--font-size-0);
        }
    }
}

#temperature {
    display: flex;
    flex-direction: row;
    gap: var(--size-3);
}

#bet-button {
    width: 100%;
}

.pill {
    background: var(--surface-1);
    border-radius: var(--radius);
    
    padding: var(--size-2);

    &:has(*:disabled) {
        --stripe-a: var(--surface-3);
        --stripe-b: var(--surface-4);

        background: repeating-linear-gradient(
            45deg,
            var(--stripe-a),
            var(--stripe-a) 10px,
            var(--stripe-b) 10px,
            var(--stripe-b) 20px
        );
    }
}

.icon-input {
    & > .label {
        color: var(--text-2);
        font-size: var(--font-size-0);
        margin-bottom: var(--size-1);
    }

    & > .pill {
        display: flex;
        flex-direction: row;
        align-items: center;

        &:has(input:focus) {
            background: var(--blue-0);
        }

        & > .lucide {
            flex-grow: 0;
            flex-shrink: 0;

            font-size: var(--font-size-1);
            color: var(--theme);
        }

        & > input {
            flex-basis: 0;
            flex-grow: 1;
            flex-shrink: 0;

            font-size: var(--font-size-1);

            width: 100%;
            padding: 0;

            background: none;

            text-align: right;
            font-weight: var(--font-weight-5);

            &:focus {
                outline: none;
            }
        }
    }
}

button {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-5);
    
    color: var(--surface-1);
    background: var(--theme);
    border-radius: var(--radius);
    
    width: fit-content;
    padding: var(--size-2) var(--size-3);

    &:disabled {
        opacity: 0.5;
        cursor: default;
    }
}

/* ----------------------- */
.weather-tile {
    height: var(--size-11);
    aspect-ratio: 1;
    
    border-radius: var(--radius);
    background: linear-gradient(315deg, var(--pink-2) 0%, var(--theme) 100%);
    
    color: white;
    
    padding: var(--size-3);
    
    display: grid;
    grid-template-rows: 1fr auto auto;
    grid-template-areas:
        "day icon"
        "rain rain"
        "temperature temperature";
    gap: var(--size-1);

    & > input {
        display: none;
    }

    & > .day {
        grid-area: day;
        
        font-weight: bold;

        text-transform: lowercase;
    }
    
    & > .lucide {
        justify-self: flex-end;
        
        font-size: var(--size-7);
        
    }

    & > .rain {
        grid-area: rain;
    }

    & > .temperature {
        grid-area: temperature;
    }
    
    & > .line {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--size-1);
        
        justify-self: flex-end;
        
        & > p {
            font-weight: bold;
            font-size: var(--font-size-0);
        }
        
        & > .lucide {
            font-size: var(--font-size-3);
        }
    }
}

.invert {
    mix-blend-mode: screen;
    color: black;
    background: white;
}

/* ----------------- */
main {
    height: 100%;

    display: flex;
    flex-direction: column;
}

#head {
    position: relative;
    
    flex-grow: 1;
    
    background: linear-gradient(180deg, var(--theme) 0%, var(--surface-1) 100%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    & > #balance {
        font-weight: var(--font-weight-6);
        color: var(--surface-1);
    }
}

#draw {
    background: var(--surface-1);

    max-height: 75vh;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;

    & > #forecast {
        flex-grow: 0;
        flex-shrink: 0;
            
        overflow-x: scroll;

        padding: var(--size-3);

        & > .days {
            position: relative;
            width: fit-content;

            display: flex;
            flex-direction: row;
            gap: var(--size-3);

            &:has(.weather-tile > input:checked) > .weather-tile:not(:has(> input:checked)) {
                opacity: 0.3;
            }

            & > .weather-tile {
                z-index: 1;

                &:has(input:checked) {
                    pointer-events: none;
                }
            }

            & > .deselect {
                z-index: 0;

                display: block;

                position: absolute;
                width: 100%;
                height: 100%;

                & input {
                    display: none;
                }
            }
        }
    }
}

#draw > .peek {
    background: var(--blue-1);

    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    
    border-radius: var(--radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    display: flex;
    flex-direction: column;
    
    gap: var(--size-2);
    padding: var(--size-3);
    margin: 0 var(--size-3);
}

#bet-form {
    grid-area: bet-form;
}

#maximum-payout {
    font-size: var(--font-size-0);
    color: var(--text-2);
    text-align: right;
}

#payout {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: var(--size-1);
    padding: var(--size-1) var(--size-2);

    border: var(--border-size-2) solid var(--surface-1);
    border-radius: var(--radius);
    
    background: none;
    color: var(--surface-1);
    text-align: center;

    & > p {
        font-size: var(--font-size-0);

        & .count {
            font-weight: var(--font-weight-7);
        }
    }
    
    & > .lucide {
        font-size: var(--font-size-1);
    }
}

#payouts {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: var(--size-3);

    border-radius: var(--radius);

    overflow-y: scroll;

    & > * {
        grid-column: 1 / 7;
        width: 100%;
    }

    & > div {

        display: grid;
        grid-template-areas:
            "date            date      date  date               line payout"
            "bet-rain        bet-rain  arrow actual-rain        line payout"
            "bet-temperature bet-range arrow actual-temperature line payout";
        grid-template-columns: subgrid;
        gap: var(--size-2);

        padding: var(--size-3);

        align-items: center;
        justify-items: center;

        font-size: var(--font-size-0);
        font-weight: var(--font-weight-5);
        color: var(--text-2);

        & .lucide {
            font-size: var(--font-size-3);

            &:has(+ span) {
                font-size: var(--font-size-2);
            }
        }

        & .correct {
            color: var(--green-9);
        }

        & .incorrect {
            color: var(--red-9);
        }

        & .faded {
            --faded: var(--text-2);
            opacity: 0.2;
        }

        & > div {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    & .date {
        grid-area: date;
    }

    & .bet-rain {
        grid-area: bet-rain;
    }

    & .bet-temperature {
        grid-area: bet-temperature;
    }

    & .arrow {
        grid-area: arrow;

        font-size: var(--font-size-2);
        color: var(--faded);
    }

    & .actual-rain {
        grid-area: actual-rain;
    }

    & .actual-temperature {
        grid-area: actual-temperature;
    }

    & .line {
        grid-area: line;

        border-radius: var(--radius-round);

        width: 2px;
        height: 100%;

        background: var(--faded);
    }

    & .payout {
        grid-area: payout;
    }

    & + button {
        width: 100%;
    }
}
